@charset "UTF-8";
.unl_person {
    margin-bottom: 1em;
}
.unl_person .vcard {
    border-top: 5px solid #d00000;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20, 20, 20, 0.2);
    transition: all 0.2s ease-out;
}
.unl_person .vcard .vcardInfo {
    padding: 0 1.425rem 1.777em;
}
.unl_person .vcard .vcardInfo > *:last-child,
.unl_person .vcard .vcardInfo > .attribute:last-child {
    margin-bottom: 0;
}
@media  (min-width: 768px) {
    .unl_person .vcard .vcardInfo {
        padding: 0 1.899rem 2.369em;
    }
}
.unl_person .vcard h1 {
    font-size: 2.618rem;
}
.unl_person .vcard h2 {
    font-size: 2.321rem;
}
.unl_person .vcard .wdn-subhead {
    margin-bottom: 0;
}
.unl_person .vcard .description {
    margin: 1em 0 0;
    padding-top: 1em;
    border-top: 1px solid #d5d5d2;
}
.unl_person .vcard {
    max-width: 480px;
    margin: 0 auto;
}
.unl_person .vcard .card-profile {
    background-color: #c1c0be;
    text-align: center;
    display: block;
}
.unl_person .vcard .card-profile .photo {
    display: block;
    height: 150px;
    margin: 0 auto;
    width: auto;
}
.unl_person .vcard .headline {
    font-size: 2.618rem;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 1rem;
}
.unl_person .vcard .headline a {
    font-family: 'Tungsten A', 'Tungsten B', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.unl_person .vcard .headline + .title {
    margin: 1em 0;
}
.unl_person .vcard .attribute {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.887rem;
    margin-bottom: 0.618rem;
}
.unl_person .vcard .adr .type {
    display: none;
}
.unl_person .vcard .adr .type + * {
    display: block;
}
.unl_person .vcard .adr .street-address {
    display: block;
}
.unl_person .vcard .adr .country-name {
    display: none;
}
.unl_person .vcard .tel .type {
    display: none;
}
.unl_person .vcard .tel a.tel {
    display: block;
    margin-top: -1.8em;
}
.unl_person .vcard .sis-title {
    margin: 1em 0;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.333;
    text-transform: uppercase;
    color: #5b5b5a;
}
.unl_person .vcard .sis-title .grade {
    display: block;
}
.unl_person .vcard .sis-title .major,
.unl_person .vcard .sis-title .college {
    font-size: 0.786em;
    display: block;
}
.unl_person .vcard .roles {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    border-bottom: 1px solid #d5d5d2;
}
.unl_person .vcard .roles > .org {
    margin: 1em 0;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.333;
    text-transform: uppercase;
    color: #5b5b5a;
}
.unl_person .vcard .roles .title {
    display: block;
}
.unl_person .vcard .roles .organization-unit {
    display: block;
    font-size: 0.786em;
}
.unl_person .vcard .roles .parent-unl .organization-name {
    display: none;
}
.unl_person .vcard .eppa {
    font-style: italic;
    margin: 1em 0;
}
.unl_person .vcard .fn,
.unl_person .vcard .given-name,
.unl_person .vcard .icon-link {
    vertical-align: middle;
}
.unl_person .vcard .given-name {
    margin-left: 1em;
    font-size: 1rem;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #5b5b5a;
}
.unl_person .vcard button {
    border: 0;
    background: none;
    color: #d00000;
}
.unl_person .vcard button:focus {
    outline: 1px dotted;
}
.unl_person .vcard-tools {
    display: none;
}

.unl_person .directory-knowledge-summary {
    width: 100%;
}
.unl_person .directory-knowledge-section {
    display: none;
}

/**
.unl_person .directory-knowledge-section {
    border-bottom: 1px solid #d5d5d2;
    padding-bottom: 2em;
}
.unl_person .directory-knowledge-section:last-child {
    border-bottom: 0;
}
.unl_person .directory-knowledge-section-bio {
    margin-top: 2.321em;
}
.unl_person .directory-knowledge-section-inner {
    list-style: none;
}
.unl_person .directory-knowledge-section-inner li {
    margin-bottom: 1em;
}
.unl_person .knowledge-grid .vcard {
    margin-bottom: 1em;
}
**/
